<div class="container">
    <h2>Projects Detail</h2>

    <table class="table table-striped" ng-model="projectsCtrl.projects">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Resources</th>
            <th>Action</th>
        </tr>
        <tbody>
    <tr ng-repeat="project in projectsCtrl.projects">
        <td>{{project.projectId}}</td>
        <td>{{project.projectName}}</td>
        <td>{{project.description}}</td>
        <td>
            <ul class="list-inline" >
                <li ng-repeat="resource in project.resources" class="list-inline-item">{{resource.name}}</li>
            </ul>
        </td>
        <td>
            <a href="#">
                    <span ng-click="projectsCtrl.selectProject(project)" class="glyphicon glyphicon-remove" data-toggle="modal"
                          data-target="#myDeleteModal"></span>
            </a>
            <a href="#">
                    <span ng-click="projectsCtrl.selectProject(project)" data-toggle="modal" data-target="#myEditModal"
                          class="glyphicon glyphicon-pencil"></span>
            </a>
        </td>
    </tr>
    </tbody>
        </thead>
    </table>


    <form ng-model="projectsCtrl.newProject">
        <div class="form-group">
            <label for="projectID">ID#:</label>
            <input type="text" class="form-control" ng-model="projectsCtrl.newProject.projectId" id="projectID"
                   placeholder="Enter Project ID" name="projectID"/>
        </div>
        <div class="form-group">
            <label for="projectName">Name:</label>
            <input type="text" class="form-control" ng-model="projectsCtrl.newProject.projectName" id="projectName"
                   placeholder="Enter Project Name" name="projectName"/>
        </div>

        <div class="form-group">
            <label for="projectDescription">Description:</label>
            <input  type="text" class="form-control" ng-model="projectsCtrl.newProject.description" id="projectDescription"
                       placeholder="Enter Project Description" name="projectDescription"/>
        </div>

        <div class="form-group">
                <multi-select options="projectsCtrl.newProjectResourcesSelection"></multi-select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default"
                    ng-click="projectsCtrl.saveNewProject()">Submit
            </button>
            <button type="reset" value="Reset" class="btn btn-default"
                    ng-click="projectsCtrl.resetNewProject()">Clear</button>
        </div>
    </form>

    <div class="modal fade" id="myEditModal" role="dialog" ng-model="projectsCtrl.selectedProject">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">You Are Editing the project with ID#: {{selectedProject.projectId}}</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-sm-2">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="projectsCtrl.selectedProject.projectName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Description:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="projectsCtrl.selectedProject.description"/>
                            </div>
                        </div>

                            <multi-select  options="projectsCtrl.selectedProjectResourceSelection"></multi-select>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="updateResource(selectedResource)" data-dismiss="modal">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>



<div class="modal fade" id="myDeleteModal" role="dialog" ng-model="projectsCtrl.selectedProject">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deletion</h4>
            </div>
            <div class="modal-body">
                Do you want to delete the resource:<br/>
                ID: {{projectsCtrl.selectedProject.projectId}}<br/>Name: {{projectsCtrl.selectedProject.projectName}}<br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="projectsCtrl.deleteProject()" data-dismiss="modal">Yes
                </button>
            </div>
        </div>

    </div>
</div>
</div>
